<ng-container *ngIf="vm$ | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-title> Intake </ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="vm.knowsIntake">
      <ion-title size="small">
        Please enter your <br />
        target intake
      </ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="!vm.knowsIntake">
      <ion-title size="small">Please enter your details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-calculate-intake-form
      *ngIf="!vm.knowsIntake"
      [formControl]="caloricIntakeForm"
    ></app-calculate-intake-form>
    <ng-container *ngIf="vm.knowsIntake">
      <ion-item lines="full">
        <ion-label position="stacked">Calories</ion-label>
        <ion-input
          data-cy="fixed-intake-input"
          [formControl]="fixedCalories"
          type="number"
        >
        </ion-input>
        <ion-badge slot="end">KCAL</ion-badge>
      </ion-item>
    </ng-container>
    <ion-button
      data-cy="confirm-button"
      expand="block"
      class="ion-margin"
      [disabled]="vm.status === 'INVALID'"
      (click)="onConfirm(vm.form, vm.fixedCalories, vm.knowsIntake)"
    >
      {{ vm.knowsIntake ? "Save my Intake" : "Calculate my Intake" }}
    </ion-button>
  </ion-content>
</ng-container>
