<ng-container *ngIf="vm$ | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-title> Intake </ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="vm.knowsIntake">
      <ion-title size="small">
        Please enter your <br />
        target intake
      </ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="!vm.knowsIntake">
      <ion-title size="small">Please enter your details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="caloricIntakeForm">
      <ion-list *ngIf="!vm.knowsIntake">
        <ion-item lines="full">
          <ion-label>Birthdate</ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
        </ion-item>
        <ion-popover [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              formControlName="birthdate"
              presentation="date"
              id="datetime"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
        <ion-item lines="full">
          <ion-label position="stacked">Gender</ion-label>
          <ion-select formControlName="gender">
            <ion-select-option
              *ngFor="let enum of gender | keyvalue"
              [value]="enum.value"
              >{{ enum.value }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Height</ion-label>
          <ion-input formControlName="heightInCm" type="number" class="input">
          </ion-input>
          <ion-badge  slot="end">CM</ion-badge>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Bodyweight</ion-label>
          <ion-input formControlName="weightInKg" type="number" class="input">
          </ion-input>
          <ion-badge  slot="end">KG</ion-badge>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Goal</ion-label>
          <ion-select formControlName="goal">
            <ion-select-option
              *ngFor="let enum of goal | keyvalue"
              [value]="enum.value"
              >{{ enum.value }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Activity</ion-label>
          <ion-select formControlName="activityLevel">
            <ion-select-option
              *ngFor="let enum of activityLevel | keyvalue"
              [value]="enum.value"
              >{{ enum.value }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button
        expand="block"
        class="ion-margin"
        [disabled]="!vm.calorieSettings"
        (click)="onConfirm(vm.calorieSettings)"
      >
        Calculate my Intake
      </ion-button>
    </form>

    <div class="container" *ngIf="vm.knowsIntake">
      <label>Calories</label>
      <ion-item lines="full" class="ion-item-input">
        <ion-input [formControl]="fixedIntake" type="number" class="input">
        </ion-input>
      </ion-item>
      <ion-button
        [disabled]="!vm.calorieSettings"
        (click)="onConfirm(vm.calorieSettings)"
        class="ion-margin"
      >
        Save my Intake
      </ion-button>
    </div>
  </ion-content>
</ng-container>
