<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" ></ion-back-button>
    </ion-buttons>
    <ion-title>Ingredients</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scanBarcode()">
        <ion-icon size="large" name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search for ingredients"
      [debounce]="1000"
      (ionChange)="onSearchChanged($event)"
    ></ion-searchbar>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-ingredient-search-item
      [ingredient]="ingredient"
      (click)="onClick(ingredient)"
      *ngFor="let ingredient of ingredientSearchResult$ | async"
    >
    </app-ingredient-search-item>
  </ion-list>
</ion-content>
<ion-modal *ngIf="modalHeight$ | async as modalHeight"
  [initialBreakpoint]="modalHeight"
  [breakpoints]="[0, modalHeight]"
  [isOpen]="(selectedIngredient$ | async) !== undefined"
  (didDismiss)="onIngredientModalClose()"
>
  <ng-template>
    <app-add-ingredient [ingredient]="selectedIngredient$ | async"></app-add-ingredient>
  </ng-template>
</ion-modal>
