<ng-container *ngIf="$vm | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="diaryService.previousDay()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="diaryService.nextDay()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ vm.date | date:'E, MMMM d' }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container *ngFor="let meal of vm.meals">
      <ion-list>
        <ion-item-divider>
          <ion-label>{{ meal.name }}</ion-label>
        </ion-item-divider>
        <ng-container *ngFor="let ingredient of meal.ingredients">
         <app-ingredient-item (delete)="onDeleteIngredient(ingredient)" [ingredient]="ingredient"></app-ingredient-item>
        </ng-container>
      </ion-list>
    </ng-container>
  </ion-content>
  <app-calorie-bar (click)="routeToSearch()"></app-calorie-bar>
</ng-container>
