@import 'variables'

.bar
  position: relative
  padding-bottom: 1.8rem
  padding-top: 1.8rem
  background: $secondaryColor
  width: 100%
  display: flex
  .label
    font-family: $mainFont
    position: absolute
    width: 100%
    text-align: center
    align-self: center
  .percentage
    align-self: center
    position: absolute
    height: 100%
    width: 0%
    background: #17B890
