ion-toolbar {
  --min-height: 80px;
}

.seperator {
  display: flex;
  flex-direction:row;
  margin: 1em
}

.seperator:before, .seperator:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid var(--ion-color-secondary);
  margin: auto;
}

.seperator:before {
  margin-right: 1em
}

.seperator:after {
  margin-left: 1em
}

.credentials-login {
  ion-item:last-of-type {
    margin-bottom: 1.5em
  }
}

ion-button {
 margin: 0 1em 0 1em
}

.helper-text {
  a:last-of-type {
    margin-left: 0.5em;
  }
  margin-top: 2em;
}
