<ion-header>
  <ion-toolbar>
    <ion-title size="large"> Strong Track </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="credentials-login">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="signUpWithEmailAndPassword()">Sign Up</ion-button>
  </div>
  <label class="seperator">or sign up with</label>
  <ion-button (click)="signUpWithGoogle()" expand="block">
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
  <ion-row class="ion-justify-content-center helper-text">
    <ion-text>Already have an account?</ion-text>
    <a [routerLink]="['sign-in']" color="primary">Sign In</a>
  </ion-row>
</ion-content>
