<div class="bar">
  <div *ngIf="displayAction" class="button-wrapper">
    <div class="button" data-cy="add-ingredient" (click)="click.emit()">
      <ion-icon size="large" icon="add-outline"></ion-icon>
    </div>
  </div>
  <div
    [ngStyle]="{
      width: calories / calorieLimit | percent,
      'border-radius': calories / calorieLimit === 1 ?'5px 5px 5px 5px' : '5px 0 0 5px'
    }"
    class="row percentage"
  ></div>
  <div data-cy="calorie-display" [ngClass]="displayAction ? 'action-label' : 'standalone-label'">
    {{ calories | number: "1.0-0" }} /
    {{ calorieLimit | number: "1.0-0" }} kcal
  </div>
</div>
