<ng-container *ngIf="$vm | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="diaryService.previousDay()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="diaryService.nextDay()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ vm.date }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container *ngFor="let meal of vm.meals">
      <app-food-card
        *ngFor="let ingredient of meal.ingredients; let i = index"
        [selectable]="false"
        (deleted)="onDeleteIngredient(meal, ingredient)"
        [data]="ingredient"
        (dataChange)="onUpdateIngredient(meal, ingredient)"
      ></app-food-card>
    </ng-container>
  </ion-content>
  <ion-modal #modal>
    <ng-template>
      <app-ingredient-search-modal
        (dismiss)="modal.dismiss(); onUpdateIngredients($event)"
      ></app-ingredient-search-modal>
    </ng-template>
  </ion-modal>
  <app-calorie-bar (actionClick)="modal.present()"></app-calorie-bar>
</ng-container>
