<ng-container *ngIf="$vm | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="previousDay()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="nextDay()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ vm.selectedDate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-food-card
        [selectable]="false"
        (deleted)="deleteIngredient(i)"
        *ngFor="let ingredient of selectedMeal.ingredients; let i = index"
        [data]="ingredient"
        (dataChange)="updateIngredient($event, i)"
      ></app-food-card>
  </ion-content>
  <app-calorie-bar (actionClick)="presentModal()"></app-calorie-bar>
</ng-container>
