@import 'variables'

.heading
  display: flex
  justify-content: center
  align-items: center
  font-family: $mainFont
  font-size: 2.6rem
  height: 2.8rem

.secondary--heading
  white-space: pre-line
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.2rem
  font-family: $secondaryFont

ion-content
  --background: #212D40

.container
  display: flex
  flex-direction: column
  align-items: center


.item-wrapper
  border-radius: 5px
  --background: #364156
  --highlight-color-focused: white
  --highlight-color-valid: white
