
.heading
  display: flex
  justify-content: center
  align-items: center
  font-family: var(--ion-main-font-family)
  font-size: 2.6rem
  height: 2.8rem

.secondary--heading
  white-space: pre-line
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.2rem
  font-family: var(--ion-secondary-font-family)

ion-content
  --background: #212D40

.container
  display: flex
  flex-direction: column
  align-items: center


.item-wrapper
  border-radius: 5px
  --background: var(--ion-color-primary)
  --highlight-color-focused: white
  --highlight-color-valid: white
