<ion-header>
  <ion-toolbar>
    <ion-title class="primary"> Intake </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="onboardingService.knowsIntake">
    <ion-title size="small" class="secondary">
      Please enter your <br />
      target intake
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!onboardingService.knowsIntake">
    <ion-title size="small" class="secondary"
      >Please enter your details</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container" *ngIf="!onboardingService.knowsIntake">
    <label>Age</label>
    <ion-item lines="none" class="ion-item-input">
      <ion-input
        [(ngModel)]="caloricIntakeVariables.ageInYears"
        type="number"
        class="input"
      >
      </ion-input>
    </ion-item>
    <label>Gender</label>
    <ion-item lines="none" class="ion-item-input">
      <ion-select [(ngModel)]="caloricIntakeVariables.gender">
        <ion-select-option value="FEMALE">Female</ion-select-option>
        <ion-select-option value="MALE">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <label>Height</label>
    <ion-item lines="none" class="ion-item-input">
      <ion-input
        [(ngModel)]="caloricIntakeVariables.heightInCm"
        type="number"
        class="input"
      >
      </ion-input>
    </ion-item>
    <label>Bodyweight</label>
    <ion-item lines="none" class="ion-item-input">
      <ion-input
        [(ngModel)]="caloricIntakeVariables.weightInKg"
        type="number"
        class="input"
      >
      </ion-input>
    </ion-item>
    <label>Goal</label>
    <ion-item lines="none" class="ion-item-input">
      <ion-select [(ngModel)]="caloricIntakeVariables.goal">
        <ion-select-option value="KEEP">Keep</ion-select-option>
        <ion-select-option value="GAIN">Gain</ion-select-option>
        <ion-select-option value="LOSS">Loss</ion-select-option>
      </ion-select>
    </ion-item>
    <label>Activity Level</label>
    <ion-item lines="none" class="ion-item-input">
      <ion-select [(ngModel)]="caloricIntakeVariables.activityLevel">
        <ion-select-option value="NOT ACTIVE">Not active</ion-select-option>
        <ion-select-option value="LIGHTLY ACTIVE"
          >Lightly Active</ion-select-option
        >
        <ion-select-option value="ACTIVE">Active</ion-select-option>
        <ion-select-option value="VERY ACTIVE">Very Active</ion-select-option>
      </ion-select>
    </ion-item>
    <button
      (click)="updateIntakeOnUserSettings()"
      class="ion-margin-top stylized--button"
    >
      Calculate my Intake
    </button>
  </div>
  <div class="container" *ngIf="this.onboardingService.knowsIntake">
    <label>Calories</label>
    <ion-item lines="none" class="ion-item-input">
      <ion-input [(ngModel)]="fixedCalories" type="number" class="input">
      </ion-input>
    </ion-item>
    <button
      (click)="saveUserSetCalories()"
      class="ion-margin-top stylized--button"
    >
      Save my Intake
    </button>
  </div>
</ion-content>
