<ng-container *ngIf="$ingredient | async as ingredient">
  <ion-header>
    <ion-toolbar>
      <ion-title> Details </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <ion-label>
            <h2>{{ ingredient.name }}</h2>
            <p>{{ ingredient.brand }}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-macro-card [ingredient]="ingredient"></app-macro-card>
    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="stacked">Amount</ion-label>
      <ion-input
        [formControl]="amount"
        type="number"
        [value]="ingredient.amount"
      ></ion-input>
      <ion-badge slot="end">gram</ion-badge>
      <ion-note slot="helper">How much did you eat?</ion-note>
    </ion-item>
    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-select
        [(ngModel)]="selectedMealCategory"
        placeholder="Select Meal"
        interface="action-sheet"
      >
        <ion-select-option
          *ngFor="let category of mealCategories"
          [value]="category"
          >{{ category }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-button
      (click)="onAddIngredient(ingredient)"
      class="ion-margin"
      shape="round"
      expand="block"
      data-cy="add-to-diary"
      >Add to diary</ion-button
    >
  </ion-content>
</ng-container>
