<ion-header>
  <ion-toolbar>
    <ion-title> Details </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col>
        <ion-label>
          <h2>{{ ingredient.name }}</h2>
          <p>{{ ingredient.brand }}</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="3">
        <div [style.height]="'5rem'">
          <canvas id="MyChart">{{ chart }}</canvas>
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-label>
          <h2>{{ ingredient.macros.protein }}g</h2>
          <p [style.color]="proteinColor">Protein</p>
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-label>
          <h2>{{ ingredient.macros.fat }}g</h2>
          <p [style.color]="fatColor" >Fat</p>
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-label>
          <h2>{{ ingredient.macros.carbs }}g</h2>
          <p [style.color]="carbsColor">Carbs</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="ion-padding-horizontal" lines="full">
    <ion-label position="stacked">Amount</ion-label>
    <ion-input type="number" [(ngModel)]="ingredient.amount"></ion-input>
    <ion-note slot="helper">How much did you eat?</ion-note>
  </ion-item>
  <ion-item class="ion-padding-horizontal" lines="full">
    <ion-select placeholder='Select Meal' interface="action-sheet">
      <ion-select-option [value]="'Breakfast'">Breakfast</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="onAddIngredient()" class="ion-margin" shape="round" expand="block">Add to diary</ion-button>
</ion-content>
