ion-item {
  --background: inherit;
  --border-color: var(--ion-color-contrast)
}

:host {
  height: inherit;
}

.kcal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  p {
    margin: 0
  }
}
