
ion-input
  font-size: 2rem
  text-align: center

.newItem
  padding: 2rem
  text-align: center
  background: var(--ion-color-primary)
  font-family: var(--ion-secondary-font-family)
  color: var(--ion-color-primary-contrast)
  font-size: 22px
  font-weight: bolder

.placeholder
  height: 370px

ion-header
  background: var(--ion-color-primary-tint)

ion-toolbar
 --border-width: 0 !important
