    <ion-item
    class="container list-entry"
  >
      <div class="wrapper">
      <div class="col">
          <img class="edit" src="assets/icons/edit-svgrepo-com%201.svg">
          <img class="bin" src="assets/icons/bin-svgrepo-com%201.svg">
      </div>
    <div #slider class="grid" [ngStyle]="{'grid-template-columns': selectable ? '0.1fr 1fr 1fr' : '1fr 1fr'}">
      <div class="icon-wrapper" *ngIf="selectable">
        <ion-icon [tabindex]="1"
          (click)="$event.stopImmediatePropagation(); isSelected = !isSelected; this.selected.emit(isSelected)"
          *ngIf='isSelected; else unchecked' class="checkIcon" name="checkmark-circle"></ion-icon>
        <ng-template #unchecked>
          <ion-icon [tabindex]="1"
            (click)="$event.stopImmediatePropagation(); isSelected = !isSelected; this.selected.emit(isSelected)"
            class="checkIcon" name="checkmark-circle-outline"></ion-icon>
        </ng-template>
      </div>
      <div class="food">{{data?.name}}</div>
        <div class="row macros">
          <div class="protein">{{data?.macros?.protein}} g</div>
          <div class="fat">{{data?.macros?.fat}} g</div>
          <div class="carbs">{{data?.macros?.carbs}} g</div>
      </div>
        <div class="input-container">
          <ion-item lines="none" class="item-wrapper">
            <ion-input [tabindex]="2" type="number" class="input" (click)="$event.stopPropagation()" (ngModelChange)="updateMacros($event)" (ionChange)="emitIngredient()" [ngModel]="data?.selectedAmount">
            </ion-input>
          </ion-item>
        </div>
        <div class="kcal">{{data?.calories | number }} kcal</div>
    </div>
    </div>
  </ion-item>
