
.macros
  width: 100%
  justify-content: flex-end
  font-size: 12px
  font-weight: bold
  :last-child
    margin-right: 2rem
  div
    margin: 0 0.5rem 0
    font-family: var(--ion-secondary-font-family)
