<div class="container">
  <div class="food row">
    <div class="row">{{meal.name}}</div>
    <div class="row">{{meal.calories | number }} kcal</div>
  </div>
  <div class="macros row">
    <div [ngStyle]="{'width': macroStyle.p | percent}">{{meal.macros.protein |number: '1.0-2' }} g</div>
    <div [ngStyle]="{'width': macroStyle.f | percent}">{{meal.macros.fat | number: '1.0-2'}} g</div>
    <div [ngStyle]="{'width': macroStyle.c | percent}">{{meal.macros.carbs | number: '1.0-2'}} g</div>
  </div>
</div>
