@import 'variables'

ion-header
  background: #1f1f1f

ion-content
  --background: #1f1f1f

ion-title
  font-family: $mainFont
  font-size: 2rem
  padding-top: 0.5rem

.input
  max-width: 16rem
  margin-top: 0.5rem
  margin-bottom: 0.5rem
  border-radius: 5px
  --background: #364156
.flex
  display: flex

ion-title
  display: flex
  text-align: center
  align-items: center
  justify-content: center

ion-list ion-header
  background: #2a2a2a

.footer
  width: 100%
  height: 5rem
  position: absolute
  bottom: 0
  background: #2a2a2a

app-calorie-bar
  margin-bottom: var(--ion-safe-area-bottom)

