<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button data-cy="back" default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title>Ingredients</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onScanBarcode()">
        <ion-icon size="large" name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      data-cy="searchbar"
      [formControl]="textSearch"
      placeholder="Search for ingredients"
      [debounce]="1000"
    ></ion-searchbar>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-ingredient-search-item
      [ingredient]="ingredient"
      (click)="onIngredientSelected(ingredient)"
      *ngFor="let ingredient of ingredientSearchResult$ | async"
    >
    </app-ingredient-search-item>
  </ion-list>
</ion-content>
<ion-modal
  #modal
  *ngIf="modalInput$ | async as modalInput"
  [initialBreakpoint]="modalInput.modalHeight"
  [breakpoints]="[0, modalInput.modalHeight]"
  [isOpen]="(selectedIngredient$ | async) !== undefined"
>
  <ng-template >
    <app-add-ingredient
      (addIngredient)="
        modal.dismiss();
        onAddIngredient($event.externalIngredient, $event.selectedMealCategory)
      "
      [ingredient]="modalInput.selectedIngredient"
      [mealCategories]="modalInput.mealCategories"
    ></app-add-ingredient>
  </ng-template>
</ion-modal>
