<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button data-cy="back" default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title>Ingredients</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onScanBarcode()">
        <ion-icon size="large" name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      data-cy="searchbar"
      [formControl]="searchbar"
      placeholder="Search for ingredients"
      [debounce]="1000"
    ></ion-searchbar>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Your foods</ion-label>
      </ion-item-divider>
      <ion-item button lines="none" detail="true" detail-icon="add-circle">
        <ion-label>
          <h2>Create</h2>
          <p>Your own custom food</p>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Search result</ion-label>
      </ion-item-divider>
      <app-ingredient-search-item
        [ingredient]="ingredient"
        (click)="onIngredientSelected(ingredient)"
        *ngFor="let ingredient of ingredientSearchResult$ | async"
      >
      </app-ingredient-search-item>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-modal [isOpen]="true">
 <ng-template>
    <app-add-custom-ingredient>
    </app-add-custom-ingredient>
  </ng-template>
</ion-modal>
<ion-modal
  #modal
  *ngIf="modalInput$ | async as modalInput"
  [initialBreakpoint]="modalInput.modalHeight"
  [breakpoints]="[0, modalInput.modalHeight]"
  [isOpen]="(selectedIngredient$ | async) !== undefined"
  (ionModalDidDismiss)="onModalDismiss()"
>
  <ng-template>
    <app-add-ingredient
      (addIngredient)="
        modal.dismiss();
        onAddIngredient($event.externalIngredient, $event.selectedMealCategory)
      "
      [ingredient]="modalInput.selectedIngredient"
      [mealCategories]="modalInput.mealCategories"
    ></app-add-ingredient>
  </ng-template>
</ion-modal>
