<ion-header>
    <ion-toolbar>
      <ion-title class="primary">Welcome</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title size="small" class="secondary">Let`s setup your <br> daily intake </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <button (click)="navigateToIntakePage(true)" class="stylized--button">
      I already know my daily <br> intake
    </button>
    <button (click)="navigateToIntakePage(false)" class="stylized--button">
      I want to find my daily <br> intake
    </button>
  </div>
</ion-content>
