<ion-header>
  <div class="heading">Welcome</div>
  <div class="secondary--heading">
    Let`s setup out your
  </div>
  <div class="secondary--heading">
    daily intake
  </div>
</ion-header>
<ion-content>
  <div class="container">
    <button (click)="navigateToIntakePage(true)" class="stylized--button">
      I already know my daily <br> intake
    </button>
    <button (click)="navigateToIntakePage(false)" class="stylized--button">
      I want to find my daily <br> intake
    </button>
  </div>
</ion-content>
